<h1>Eat the Burgers</h1>

<h2>Burgers that are not devoured!</h2>

<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}Devour It!{{else}}Compost It!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>